
body{
    background: url(./Imagens/original.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    display: flex;
    align-items: center;
}
.logo_disney{
    max-width: 330px;
    margin-bottom: 10px;
    margin-top: 30px;

}
h1{
    color: #f6f6f6;
    font-size: 30px;
    line-height: 53px;
    font-weight: 400;
   
}
.container{
    padding-left: 100px;
}
.container .logo_disney{
    margin-left: 120px;

}
.container h1{
    margin-left: 50px;
    font-weight: 700;
}
.botao{
   height: 70px;
   width: 600px;
   font-weight: 520;
   color: #f6f6f6;
   background-color: #6421ef;
   border: none;
   font-size: 18px;
   border-radius: 4px;
}
.botao:hover{
    background-color: #f6f6f6;
    color: black;
    transition: 2s;

}
